body{
    background-color: tan;
}
.caja{
    width: 200px;
    height: 432px;
    border-radius: 5px;
    box-shadow: 10px 17px 21px -10px rgba(0,0,0,0.75);


    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;


    background:url(naruto.jpg);
    background-color: green;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    animation: slider 10s infinite alternate;
}

@keyframes slider{
    from{
        /* background-size: 768px; */
        background-position: left center;
    }

    to{
        /* background-size: 1000px; */
        background-position: right center;
    }
}